Salesforce Project/force-app/main/default/flows/Cattle_Health_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Critical_Health_Email_Alert</name>
        <label>Send Critical Health Email Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Cattle__c.Email_alert_for_critical_cattle_health_status</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Farmer__r.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Cattle__c.Email_alert_for_critical_cattle_health_status</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_Health_Critical</name>
        <label>Check if Health Critical</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Critcal</defaultConnectorLabel>
        <rules>
            <name>Critical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Health_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sick</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Critical_Health_Email_Alert</targetReference>
            </connector>
            <label>Critical</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Cattle Health Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cattle Health Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Health_Critical</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Health_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Cattle__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
